  .cards-container {
    display:flex;
    flex-flow: row wrap;
    background-color: white;
    justify-content: flex-start;
  }

.block-container{
  flex:2;
  justify-content: center;
  text-align: center;
}

  .block-container iframe {
    margin: 10px;
    transition: all .3s;
  }
  .block-container iframe:hover {
    transform:scale(1.05);
    outline:2px solid blue;
  }
  

.slider-container {
  flex:7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.events {
  font-family: 'Georgia', serif;
 font-weight: bold;
 font-size: 25px;
}

.weather-container {
  flex: 3;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
}

.weatherwidget-io {
  border-radius: 0%;
  width: 314px;
  text-align: center;
}