
#nav_logo{
 display:flex;
 width: 120px;
 height:95px;
 justify-content: space-around;
}
#nav_logo:hover{
 transform:scaleX(.9);
 transition: ease-in-out .5s;
}
#logo_name{
  display:flex;
  align-items: center;
  justify-content: space-around;
  width:30%;
}
.header_name{
 white-space: nowrap;
 font-family: 'Georgia', serif;
 font-weight: bold;
 font-size: 20px;
 color:whitesmoke;
 text-decoration: none;
}
.navbar{
 background-color : rgb(136, 21, 52);
 color:whitesmoke;
 display: flex;
 justify-content: space-around;
 position: fixed;
 align-items: center;
 font-family: 'Roboto', sans-serif;
 width: 100%;
 z-index: 10;
 height: 17vh;
}
#nav_links{
 list-style: none;
 display:flex;
 justify-content: space-around;
 width:50%;
}
.nav_list a{
 color:whitesmoke;
 text-decoration: none;
 border-radius: 0%;
 padding: 47px 80px;
}

.nav_list a:hover {
  color: rgb(136, 21, 52);
  background-color: white;
}

.nav_blockobj div{
   background-color: whitesmoke;
   width:50px;
   height: 3px;
   margin: 5px;
   display: none;
   overflow: hidden;
 }
 @media screen and (max-width:992px){
   #nav_links{
     display: block;
     position: absolute;
     top:0;
     left:0;
     height: 100vh;
     background-color : rgb(136, 21, 52);
     padding:20px;
     width:70%;
     transform: translateX(-700px);
     transition: .5s ease-in-out;
   }
   #nav_links li {
     margin-top: 60px;
     padding:25px;
     text-align: center;
     
   }
   #logo_name{
   width:40%
   }
   .nav_blockobj{
     cursor: pointer;
   }
   .nav_blockobj div{
     display:block;
     overflow: visible;
   }
   
 }
 @media screen and (max-width:557px){
   #header_name{
     white-space: normal;
     display: none;      
   }
    #navbar{
      justify-content: space-between;
      font-size: 90%;
    }
    #nav_logo{
     display:flex;
     justify-content:center
    }
    
 }